{% extends "layout.html" %}
{% block body %}
<div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                 <center> {{ message }}</center>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

        </div>
 <div class="wrapper">
      <div class="title">Login Form</div>
      <form method="post" action="">

        <div class="field">
          <input type="text" required name="name">
          <label>Email Address</label>
        </div>
        <div class="field">
          <input type="password" required name="OTP">
          <label>OTP</label>
        </div>

        <div class="field">
          <input type="submit" value="process">
        </div>

      </form>
    </div>

 {% endblock %}