
{% extends "layout.html" %}
{% block body %}
<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Mobile Phones
										</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">Samsung </a></li>
											<li><a href="#">Apple </a></li>
											<li><a href="#">OnePlus </a></li>
											<li><a href="#">Oppo</a></li>
											<li><a href="#">Redmi </a></li>
											<li><a href="#">Realme </a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Washing Machines
										</a>
									</h4>
								</div>
								<div id="mens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="product.html">samsung</a></li>
											<li><a href="product.html">Lg</a></li>
											<li><a href="product.html">godrej</a></li>
											<li><a href="product.html">Whirlpool</a></li>
											<li><a href="product.html">Onida</a></li>
											<li><a href="product.html">Haier</a></li>
											<li><a href="product.html">Panasonic</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#womens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Refrigerators
										</a>
									</h4>
								</div>
								<div id="womens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="product.html">Samsung</a></li>
											<li><a href="product.html">Lg</a></li>
											<li><a href="product.html">whirpool</a></li>
											<li><a href="product.html">Bosch</a></li>
											<li><a href="product.html">Videocon</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#womens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Aircondition
										</a>
									</h4>
								</div>
								<div id="womens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="product.html">Samsung</a></li>
											<li><a href="product.html">Lg</a></li>
											<li><a href="product.html">whirpool</a></li>
											<li><a href="product.html">Dior</a></li>
											<li><a href="product.html">Versace</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#womens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Tabletes
										</a>
									</h4>
								</div>
								<div id="womens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="product.html">Samsung</a></li>
											<li><a href="product.html">Lg</a></li>
											<li><a href="product.html">whirpool</a></li>
											<li><a href="product.html">Dior</a></li>
											<li><a href="product.html">Versace</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#womens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Aircondition
										</a>
									</h4>
								</div>
								<div id="aircondition" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="product.html">Samsung</a></li>
											<li><a href="product.html">Lg</a></li>
											<li><a href="product.html">whirpool</a></li>
											<li><a href="product.html">Dior</a></li>
											<li><a href="product.html">Versace</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="product.html">Tablates</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Fashion</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Households</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Interiors</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Clothing</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Bags</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Shoes</a></h4>
								</div>
							</div>
						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right">(50)</span>Apple</a></li>
									<li><a href="#"> <span class="pull-right">(56)</span> Samsung</a></li>
									<li><a href="#"> <span class="pull-right">(27)</span>Lg</a></li>
									<li><a href="#"> <span class="pull-right">(32)</span>Xiomi</a></li>
									<li><a href="#"> <span class="pull-right">(5)</span>Whirpool</a></li>
									<li><a href="#"> <span class="pull-right">(9)</span>Realme</a></li>
									<li><a href="#"> <span class="pull-right">(4)</span>Oppo</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->
						

					</div>
				</div>

					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">All products</h2>
						{% for brandname in brandname %}
						{% set fname = 'images/product/' + brandname.image %}
						 <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<a href="/productname/{{brandname.productid}}"><img  src="{{ url_for('static',filename=fname)}}" height="250px;" /></a><br>
											<br><p><a href="/productname/{{brandname.productid}}">{{brandname.productname}}</a></p>
											<h2>{{brandname.productprice}}</h2>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Buy Now</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">

											</div>
										</div>
									</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to Cart</a></li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}

						<div class="features_items"><!--features_items-->

						{% for product in product %}
						{% set fname = 'images/product/' + product.image %}
						 <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<a href="/productname/{{product.productid}}"><img  src="{{ url_for('static',filename=fname)}}" height="250px;" /></a><br>
											<br><p><a href="/productname/{{product.productid}}">{{product.productname}}</a></p>
											<h2>{{product.productprice}}</h2>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Buy Now</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">

											</div>
										</div>
									</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to Cart</a></li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}

							<div class="features_items"><!--features_items-->

						{% for brandcategory in brandcategory %}
						{% set fname = 'images/product/' + brandcategory.image %}
						 <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<a href="/productname/{{brandcategory.productid}}"><img  src="{{ url_for('static',filename=fname)}}" height="250px;" /></a><br>
											<br><p><a href="/productname/{{brandcategory.productid}}">{{brandcategory.productname}}</a></p>
											<h2>{{brandcategory.productprice}}</h2>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Buy Now</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">

											</div>
										</div>
									</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to Cart</a></li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}

								<div class="features_items"><!--features_items-->

						{% for brandsname1 in brandname1 %}
						{% set fname = 'images/product/' + brandname1.image %}
						 <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<a href="/productname/{{brandname1.productid}}"><img  src="{{ url_for('static',filename=fname)}}" height="250px;" /></a><br>
											<br><p><a href="/productname/{{brandname1.productid}}">{{brandname1.productname}}</a></p>
											<h2>{{brandname1.productprice}}</h2>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Buy Now</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">

											</div>
										</div>
									</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to Cart</a></li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}



					


					
				</div>
			</div>
		</div>
	</section>
	
	 {% endblock %}